{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="d-flex flex-column shadow-lg py-5 px-5 mb-5 bg-white rounded justify-content-center align-items-center">
        {% if nomLicencie is defined %}
            <p>{{ nomLicencie }}</p>
        {% endif %}
        <h1>Register</h1>
        
        <br />
        
        {{ form_start(registrationForm, {'attr': {'class': 'd-flex flex-column justify-content-center align-items-start'}}) }}
            {{ form_row(registrationForm.numlicencie, {
                label: 'Numéro Licence'
            }) }}

            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.plainPasswordBis, {
                label: 'Password Bis'
            }) }}

            {{ form_row(registrationForm.agreeTerms) }}

            <button type="submit" class="btn btn-success align-self-center">Register</button>
        {{ form_end(registrationForm) }}
    </div>
    
{% endblock %}
